*{ /*reset*/
margin: 0;
padding: 0;
}

#wrapper{
	width: 960px;
	margin: 0 auto;
	background-color: gray;
	padding: 15px 0;
}

h1, h2, h3, h4, p{
	color: white;
	text-align: center;
	font-weight: 100;
	margin-top: 15px;
}

img{
	margin: 15px 0 0 280px;

}

